# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.eslintrc
.vscode/

# System Files
.DS_Store
Thumbs.db

# Python files
__pycache__/
*.py[cod]
migrations/

# Backend files
backend/config/dev.*
backend/config/demo.*
backend/config/prod.*
backend/db.sqlite3
backend/scheduler/*.state

# Backend virtual environment
backend/virtualenv

# Frontend files
frontend/node_modules
frontend/build
frontend/.env.*

# Logs and temporary files
logs/*
tmp/*
*.state.db
