# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# Python files
*.pyc

# Backend config files
backend/config/dev.*
backend/config/prod.*

# Virtual Environment files
ontask_venv/
scheduler_env

scheduler/docket/celerybeat\.pid

scheduler/docket/db\.sqlite3
