django-authtools==1.6.0
djangorestframework==3.8.2
django-rest-framework-mongoengine==3.3.1
mongoengine==0.15.0
pymongo==3.6.1
psycopg2-binary==2.7.4
PyJWT==1.6.1
boto3==1.7.4
celery==4.1.0
django-celery-beat==1.1.1
cryptography==2.2.2
SQLAlchemy==1.2.6
django-cors-headers==2.1.0
Django==2.0.4
xlrd==1.1.0
circus==0.14.0
requests==2.18.4
pycrypto==2.6.1
uWSGI==2.0.17
tornado==4.5.3 # Fixes issue with celery broken tornado dependency
