uWSGI==2.0.17.1
django-authtools==1.6.0
djangorestframework==3.8.2
django-rest-framework-mongoengine==3.3.1
mongoengine==0.15.3
pymongo==3.7.0
psycopg2-binary==2.7.5
PyJWT==1.6.4
boto3==1.7.52
celery==4.2.1
django-celery-beat==1.1.1
cryptography==2.3.1
SQLAlchemy==1.2.9
django-cors-headers==2.3.0
Django==2.0.7
xlrd==1.1.0
circus==0.15.0
requests==2.19.1
passlib==1.7.1
python-dateutil==2.6.1
numexpr==2.6.8
PyLTI==0.7.0
pandas==0.23.4
