uWSGI==2.0.18
Django==2.1.7
djongo==1.2.31
mongoengine==0.16.3
djangorestframework==3.9.1
django-rest-framework-mongoengine==3.3.1
django-cors-headers==2.4.0
celery==4.3.0rc1
django-celery-beat==1.1.1
PyJWT==1.7.1
PyLTI==0.7.0
pandas==0.23.4
boto3==1.9.102
cryptography==2.5
SQLAlchemy==1.2.18
xlrd==1.2.0
python-dateutil==2.8.0
numexpr==2.6.9
watchtower==0.5.5
tornado==4.5.3 # Version lock this dependency to resolve issues with asyncio in Flower
