.dataLab .item {
  width: 175px;
  min-height: 175px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.dataLab .item i {
  font-size: 32px;
}
.dataLab .item span {
  margin-top: 10px;
  color: #666;
}

.dataLab .add i {
  color: #999;
}
.dataLab .add {
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  transition: border 0.5s;
}

.dataLab .modules .datasource i {
  color: #BBDEFB;
}
.dataLab .add.datasource, .dataLab .modules .datasource {
  background-color: rgba(227,242,253, 0.20);
  border: 1px solid #BBDEFB;
}

.dataLab .modules .computed i {
  color: #C8E6C9;
}
.dataLab .add.computed, .dataLab .modules .computed {
  background-color: rgba(232,245,233, 0.20);
  border: 1px solid #C8E6C9;
}

.dataLab .modules .form i {
  color: #D1C4E9;
}
.dataLab .add.form, .dataLab .modules .form {
  background-color: rgba(237,231,246, 0.20);
  border: 1px solid #D1C4E9;
}

.dataLab .dragging {
  opacity: 0.35;
  border-style: dashed;
  cursor: move;
}

.dataLab .fields-select i {
  display: none;
}

.dataLab .form .fields > div {
  background: white;
  cursor: default;
}
.dataLab .form .fields .ant-select-selection__choice { 
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
.dataLab .form .fields .ant-select-selection__choice:hover { 
  border-color: #40a9ff;
}

/*  */
.dataLab .ant-form-item-control:not(.has-error) .fields-select.ant-select-disabled .ant-select-selection {
  border-color: #d9d9d9;
  box-shadow: none;
}

.dataLab-fields .editing-field:after {
  content: none !important;
  display: none !important;
}

.dataLab-fields .editing-field i {
  cursor: pointer;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.65);
}

.dataLab-fields .editing-field i:hover {
  color: #1890ff;
}

.dataLab-fields .editing-field.ant-select-dropdown-menu-item-disabled {
  cursor: default;
}

.dataLab-fields .normal-field i {
  opacity: 0;
  margin-left: 5px;
  transition: opacity 0.1s ease-out;
  font-weight: 300;
}

.dataLab-fields .normal-field:hover i {
  opacity: 1;
}

.dataLab .ant-form-item {
  margin: 0;
  width: 100%;
}

.dataLab .ant-select {
  width: 100%;
}

.dataLab .stepIcon {
  position: absolute;
  top: -15px;
  left: -15px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataLab .stepIcon.datasource {
  background: #BBDEFB;
}
.dataLab .stepIcon.form {
  background: #D1C4E9;
}

.dataLab .modules {
  position: fixed;
  top: 0;
  right: 75px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.dataLab .modules .wrapper {
  background: #fafafa;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.dataLab .modules .wrapper > div {
  cursor: move;
  width: 100px;
  min-height: 100px;
}

.dataManipulation .form-field i, .dataManipulation .editable-field i {
  cursor: pointer;
  font-size: 16px;
}
.dataManipulation .form-field i {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
.dataManipulation .form-field:hover i {
  opacity: 1;
}
.dataManipulation .editable-field {
  display: flex;
  align-items: center;
}
.dataManipulation .editable-field i {
  margin-left: 5px;
}

.dataManipulation .column-header-icons {
  vertical-align: middle;
}
.dataManipulation .column-header-icons i {
  cursor: pointer;
  margin-left: 4px;
}
.dataManipulation .column-header.form {
  color: #9C27B0;
}
.dataManipulation .column-header.datasource {
  color: #2196F3;
}
/* The following are for ensuring that column headers stay on a single line */
.dataManipulation .ant-table-thead > tr > th {
  word-break: normal;
}
.dataManipulation .ant-table-thead > tr > th > span {
  display: flex;
  align-items: center;
}

.dataLab .details .from {
  display: flex;
  align-items: center;
}

.dataLab .details .from i {
  font-size: 125%;
  margin-right: 5px;
}
.dataLab .details .datasourceIcon {
  color: #BBDEFB;
}
.dataLab .details .formIcon {
  color: #D1C4E9;
}

.dataLab .details  tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}
.dataLab .details  tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}
