.action .editor {
  border: 1px solid #f1f1f1;
  padding: 0 10px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  transition: border 0.2s linear;
}
.action .editor-wrapper {
  max-width: 1200px;
}
/* Padding fix for toolbar buttons in content editor */
.action .editor-wrapper * {
  box-sizing: initial !important;
}
/* End padding fix */
.action .conditionGroupBtn button:first-child {
  cursor: move;
}
.action .isInside {
  border-color: #9e9e9e;
}
.action .previewLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}
